.vscode/

# Node dependencies
node_modules/


# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
#ignore ci logs
/ci/

# Optional: VS Code project settings
.vscode/

# Optional: OS-specific files
.DS_Store
Thumbs.db
